<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>

<h2>Create New User</h2>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">

  <label>Username:</label>
  <input type="text" th:field="*{username}"/><br/>

  <label>Lastname:</label>
  <input type="text" th:field="*{lastname}"/><br/>

  <label>Password:</label>
  <input type="password" th:field="*{password}"/><br/>

  <label>Roles:</label>
  <select name="roleIds" multiple>
    <option th:each="role : ${allRoles}"
            th:value="${role.id}"
            th:text="${role.name}">
    </option>
  </select>
  <small>Hold Ctrl to select multiple roles</small><br/>

  <input type="submit" value="Create"/>
</form>

<br/>
<form method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>