<div th:fragment="navbar">

  <nav class="navbar navbar-expand navbar-dark bg-dark px-3">

        <span class="navbar-text text-white">

            <strong>
                <span sec:authentication="name"></span>
            </strong>

            with roles:

            <span th:each="role, stat : ${#authentication.authorities}">
                <span th:text="${#strings.replace(role.authority,'ROLE_','')}"></span>
                <span th:unless="${stat.last}">, </span>
            </span>

        </span>

    <form class="ms-auto" th:action="@{/logout}" method="post">

      <button class="btn btn-link text-secondary text-decoration-none">
        Logout
      </button>

    </form>

  </nav>

</div>