<!-- Боковая навигация -->
<div th:fragment="sidebar(activePage)"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <nav class="sidebar nav flex-column pt-3">

    <!-- Ссылка на админ-панель (видна только администраторам) -->
    <a sec:authorize="hasRole('ADMIN')"
       class="nav-link"
       th:classappend="${activePage == 'admin'} ? ' active'"
       th:href="@{/admin}">
      Admin
    </a>

    <!-- Ссылка на личный кабинет пользователя (видна всем авторизованным) -->
    <a class="nav-link"
       th:classappend="${activePage == 'user'} ? ' active'"
       th:href="@{/user}">
      User
    </a>

  </nav>

</div>