<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>User, welcome spring boot security page!</h1>-->


<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about User</title>
</head>
<body>
<h1 th:text="${user.getUsername() + ', welcome to your profile!'}"/>
<br/>
<p th:text="${'ID: ' + user.getId()}">id</p>
<p th:text="${'Username: ' + user.getUsername()}">username</p>
<p th:text="${'Lastname: ' + user.getLastname()}">lastname</p>
<br/>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>